@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


  
  body {
  background-image: url('/taust.png');
  background-repeat: repeat;
  background-size: 200px 200px;
}
 